/*!
 *    LICENSE
 *   –=–=–=–=–
 *
 *  The 'Red Hat Text' font is licensed under the SIL Open Font License,
 *  Version 1.1. This license text is available at:
 *    https://dachenedu.org/css/red-hat-text/OFL.txt
 *    https://scripts.sil.org/OFL
 *
 */@font-face{font-family:'Red Hat Text';font-style:normal;font-weight:400 800;src:local('RedHatText-VariableFont'),url(RedHatText-VF.woff2)}@font-face{font-family:'Red Hat Text';font-style:italic;font-weight:400 800;src:local('RedHatText-VariableFont'),url(RedHatText-VF-Italic.woff2)}